# All USB Allowed Rather than below Mentioned: Vendor
#ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0781", ATTRS{idProduct}=="5591", RUN+="/bin/sh -c 'echo 0 >/sys%p/authorized'"
#ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0951", ATTRS{idProduct}=="1666", RUN+="/bin/sh -c 'echo 0 >/sys%p/authorized'"
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{version}==" 3.00", RUN+="/bin/sh -c 'echo 0 >/sys%p/authorized'"
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{version}==" 3.01", RUN+="/bin/sh -c 'echo 0 >/sys%p/authorized'"
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{version}==" 3.02", RUN+="/bin/sh -c 'echo 0 >/sys%p/authorized'"
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{version}==" 2.00", RUN+="/bin/sh -c 'echo 0 >/sys%p/authorized'"

{# 
ACTION=="add", KERNEL=="sd*[!0-9]", GOTO="disable_usb"
GOTO="end"

LABEL="disable_usb"
RUN+="/bin/sh -c 'echo 1 >/sys$DEVPATH/remove'"

LABEL="end"


  ACTION=="add", SUBSYSTEMS=="usb", RUN+="/bin/sh -c 'echo 0 >/sys%p/authorized'"
  
  
  #}
